{{#if success_msg}}
    <div class="alert alert-success">
        <button type="button" class="btn-close" aria-label="Close"></button>
        {{success_msg}}
    </div>
{{/if}}

{{#if error_msg}}
    <div class="alert alert-danger">
        <button type="button" class="btn-close" aria-label="Close"></button>
        {{error_msg}}
    </div>
{{/if}}