select {
    -webkit-appearance: auto !important;
    -moz-appearance: auto !important;
    appearance: auto !important;
}

textarea {
    resize: none;
}

label[for] {
    cursor: pointer;
}

div.alert {
    display: flex;
}

.btn-close {
    margin: auto 10px auto 0px;
    float: right;
}

#ver-todas, #novo-ava, #voltar-ava, #voltar-usu {
    float: right;
}

ul#media-social>li>a>i {
    font-size: 26px;
}

.blockquote-footer {
    text-align: right;
    margin: 0px;
}

.blockquote-footer>cite:nth-child(2) {
    display: block;
    font-size: 10px;
}

h5.card-title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

p.card-text {
    /*min-height: 58%;
    max-height: 58%;*/
    margin-bottom: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

.card-footer>button {
    margin: 0px 5px;
}

.vis-ava:hover {
    background-color: #198754;
}

.edt-ava:hover {
    background-color: #0b5ed7;
}

.exc-ava:hover {
    background-color: #dc3545;
}

.fw-5 {
    font-weight: 500;
}

.card-form {
    margin: auto;
    max-width: 400px;
}

.form-signin {
    text-align: center;
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
  
.form-signin .checkbox {
    font-weight: 400;
}
  
.form-signin .form-floating:focus-within {
    z-index: 2;
}
  
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
  
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#floatingInput, #floatingPassword {
    text-align: center;
}

#floatingInput~label, #floatingPassword~label {
    width: 116%;
}

.divisao {
    height: 2px;
    width: 100%;
    background-color: #DDD;
    border-bottom: 1px solid #FFF;
    margin: 30px 0px 20px 0px;
    text-align: center;
}

.divider-label {
    position: relative;
    display: inline-block;
    background-color: #fff;
    padding: 0px 12px;
    top: -12px;
}