
<main class="form-signin card">
    <form action="/login" method="post">
        <img class="mb-2" src="/img/fav.png" alt="" width="50" height="50">
        <h1 class="h3 mb-3 fw-normal">Faça Login</h1>
        <div class="form-floating">
            <input type="email" name="email" class="form-control" id="floatingInput" placeholder="" required>
            <label for="floatingInput">Email</label>
        </div>
        <div class="form-floating">
            <input type="password" name="senha" class="form-control" id="floatingPassword" placeholder="" required>
            <label for="floatingPassword">Senha</label>
        </div>
        <br>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Entrar</button>
        <br>
        <div class="divisao">
            <span class="divider-label">ou</span>
        </div>
        <p>Ainda não possui uma conta ?</p>
        <p class="mb-0">
            <a href="/cadastre-se">
                <strong>Cadastre-se</strong>
            </a>
        </p>
    </form>
</main>