<h3>Nova Avaliação</h3>
<div class="card">
    <div class="card-body">
        <form action="/avaliacoes/nova" method="post">
            <label for="melhorar">Melhorar:</label>
            <input type="text" id="melhorar" name="melhorar" class="form-control" placeholder="Descreva os pontos a serem melhorados">
            <label for="manter">Manter:</label>
            <input type="text" id="melhorar" name="manter" class="form-control" placeholder="Descreva os pontos a serem mantidos">
            <label for="sugestoes">Sugestões:</label>
            <input type="text" id="melhorar" name="sugestoes" class="form-control" placeholder="Dê sugestões">
            <label for="avaliaco_final">Avaliação Final:</label>
            <input type="text" id="melhorar" name="avaliaco_final" class="form-control" placeholder="Dê sua avaliação final">
            <br>
            <button type="submit" class="btn btn-success">Criar Avaliação</button>
        </form>
    </div>
</div>